@import "normalize";


//////////////////MIXINS

$main-color: rgba(255, 255, 251, 1);
$accent: red;

//////////////////MAIN STYLES

img, canvas {
	max-width: 100%;
}

body {
	background: $main-color;
}

.wrapper {
	max-width: 1200px;
	margin: 10px 60px;
	text-align: center;
	border: 3px solid $accent;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 60px;
}

.headItem {
	flex: 1 auto;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: $accent;
	text-transform: uppercase;
	font-size: 2.5rem;
	transform: rotate(-12deg);
}

h2 {
	font-family: 'Quicksand', sans-serif;
	color: $accent;
	text-transform: uppercase;
	font-size: 1.1rem;

	a {
		color: $accent;
		text-decoration: underline;
		-webkit-text-decoration: underline;
	}

	a:hover, a:focus {
		transform: rotate(-12deg);
	}
}

.left {
	float: left;
	width: 50%;
}

.right {
	float: left;
	width: 50%;
}

video {
  max-width: 100%;
  margin: 10px;
  transition:all 0.5s;
	
	.flipped {
	  -webkit-transform:rotateY(180deg);
	  transform:rotateY(180deg);
	}
}


a {
  text-decoration: none;
}

.tools {
  padding:10px;

  a {
  	color:$main-color;
  	background:$accent;
  	display: inline-block;
  	width:70px;
  	line-height:70px;
  	font-size: 20px;
  	border-radius: 50%;
  }
}

.photoBooth {
  border-radius: 10px;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  perspective:500px;
  -webkit-perspective:500px;
}

canvas {
  display: none;
}

.strip img {
  width:16.666666667%;
  float:left;
}

// .countdown {
//   position: absolute;
//   width: 100%;
//   font-size: 200px;
//   text-shadow:5px 5px 0 rgba(0,0,0,0.4);
//   top: 0;
//   padding-top: 190px;
//   display: none;
// }
