@import "normalize";


//////////////////Variables

$main-color: rgba(255, 255, 251, 1);
$accent: red;

//////////////////MAIN STYLES

img, canvas {
	max-width: 100%;
}


body {	
	background: $main-color;
}

.wrapper {
	max-width: 1200px;
	margin: 10px 60px;
	text-align: center;
	border: 3px solid $accent;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 60px;
}

.headItem {
	flex: 2 auto;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: $accent;
	text-transform: uppercase;
	font-size: 2.5rem;
	transform: rotate(-12deg);
}

h2 {
	font-family: 'Quicksand', sans-serif;
	color: $accent;
	text-transform: uppercase;
	font-size: 1.1rem;

	a {
		color: $accent;
		text-decoration: underline;
		-webkit-text-decoration: underline;
	}

	a:hover, a:focus {
		transform: rotate(-12deg);
	}
}

.left, .right {
	float: left;
	width: 50%;
	padding: 20px;
}

video {
  max-width: 100%;
  margin: 0 auto;
  transition:all 0.5s;
	
	.flipped {
	  -webkit-transform:rotateY(180deg);
	  transform:rotateY(180deg);
	}
}


a {
  text-decoration: none;
}

.tools {
	width: 160%;
	margin-left: 20%;
  padding:10px;
  display: flex;
  justify-content: space-between;
	.shutter {

	  a {
	  	color:$main-color;
	  	background:$accent;
	  	display: inline-block;
	  	width:70px;
	  	line-height:70px;
	  	font-size: 20px;
	  	border-radius: 50%;
	  }
	} // shutter ends here

  svg {
  	// z-index: 10;
  	// position: relative;
  	height: 130px;
  	// top: -10px;
  }
}

.photoBooth {
  border-radius: 10px;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  perspective:500px;
  -webkit-perspective:500px;
}

canvas {
  display: none;
}

.strip {
	position: relative;
}

.strip img {
  max-width:100%;
  position: absolute; 
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
}



.workingBox {
	width: 200px;
	height: 200px;
	background-color: yellow;
}