@import "normalize";

$main-color: rgba(255, 255, 251, 1);
$accent: red;

body {
	background: $main-color;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-family: monospace;
	color: $accent;
}